In [0]:
ls  "/content/drive/My Drive/Colab Notebooks/SS sir Tool"

In [0]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/SS sir Tool/news_april18.csv") 
# Preview the first 5 lines of the loaded data
#data.head()

In [46]:
data = data.drop('URL', 1)
data = data.drop('Unnamed: 0', 1)
data.head()

                                               Title                                            Details
0  ইইউ ক্যাপিটালে মৃত্যুর মিছিল, এখনও নিরাপদে আছে...  \n\nমিজানুর রহমান\nঅনলাইন  ১৮ এপ্রিল ২০২০, শনি...
1                      করোনা কেড়ে নিলো দেড় লাখ প্রাণ  \n\nঅনলাইন ডেস্ক \nঅনলাইন  ১৮ এপ্রিল ২০২০, শনি...
2  ‘আমিই ভেন্টিলেটর বন্ধ করছি আর রোগীর শেষ মুহূর্...  \n\n\nঅনলাইন             ১৮ এপ্রিল ২০২০, শনিবা...
3                               আরো কঠোর হচ্ছে পুলিশ  \n\nস্টাফ রিপোর্টার\nঅনলাইন  ১৮ এপ্রিল ২০২০, শ...
4                         আইনমন্ত্রীর মায়ের ইন্তেকাল  \n\n অনলাইন ডেস্ক\nঅনলাইন  ১৮ এপ্রিল ২০২০, শনি...

In [0]:
train_set = data.loc[:,:]

In [0]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix_train = tfidf_vectorizer.fit_transform(train_set)  
#finds the tfidf score with normalization
for i in range(1,10):
  print("cosine scores ==> ",i,cosine_similarity(tfidf_matrix_train[0:i], tfidf_matrix_train))
  #here the first element of tfidf_matrix_train is matched with other three elements

In [0]:
print("cosine scores ==> ",i,cosine_similarity(tfidf_matrix_train[0:1], tfidf_matrix_train))